@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import "headers.css";
@import "splash.css";

body {
  color: #116166;
  font-family: "Source Code Pro", monospace;
  background-color: #f0e7e7c2;
}
