@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import "headers.css";
@import "splash.css";

body {
  color: #66fcf1;
  font-family: "Source Code Pro", monospace;
  background-color: #0b0c10;
}
